body{
    color: #000000;
    font-family: sans-serif
}

.rectangulo{
    padding: 100px 200px;
    background: #ccc;
    margin: 50px;
    outline: 5px dashed #aaaa ;
}

.circulo{
    border-radius: 50%;
    padding: 40px;
    margin: 10px;
    background: red;
    display: inline-block;

}

/*  *********** Ejemplo *********** */

.texturas{
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    user-select: none;
}

.texturas div{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 6px;
    user-select: all;
}

.texturas div:active{
    opacity: 0.6;
}

/*le colocamos las texturas descargadas mediante url*/
.textura1 {
    background:url("Images/textura1.png") ;
}
.textura2 {
    background:url("Images/textura2.png") ;
}
.textura3 {
    background:url("Images/textura3.png") ;
}

.zona{
    margin: 10px;
    background: #ddd;
    height: 200px;
}