body{
    color: #000;
    font-family: sans-serif;
    text-align: center;
}

body, h2, div, input, button{
    padding: 0;
    margin: 0;
}

.add-names{
    margin-top: 40px;
}

.names{
    max-width: 600px;
    margin: auto;
    margin-top: 40px;
}

.name{
    display: grid;
    grid-template-columns: minmax(100px,300px) 1fr;
    border-top: 1px solid #48e;
}

.options{
    display: flex;
    justify-self: end;
}

#add-button, #name{
    padding: 4px 8px;
}

.options button{
background: transparent;
border: none;
margin: 4px 10px;
outline: none;
}

.delete:hover{
    color: #999;
}
.possible{
    color: #37d;
}
.possible:hover{
    color: #6af;
}


.impossible{
    color: #ccc;
}

.name h2{
    padding: 6px;
    color: #48d;
}