body{
    background-color: #ccc;
}

.container{
    padding: 30px;
    background-color: chocolate;
}

.input-test{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 6px;
    color: grey;
    outline: none !important;
}